# MySQL General Settings
MYSQL_DATABASE=baseball_2026
MYSQL_USER=baseball
MYSQL_PASSWORD=baseball
MYSQL_ROOT_PASSWORD=devpass

# Application DB Connections (Inside Docker use 'db', Host use 'localhost')
DB_HOST=db
DB_PORT=3306
DB_NAME=baseball_2026
DB_USER=baseball
DB_PASSWORD=baseball

BASEBALL_DATA_DIR=/app/py_baseball
